@model OriginATM.Web.Models.BalanceViewModel;
<div>

    <h3>CONSULTA BALANCE:</h3> <br />
    <div>
        <ul>
            <li>
                TARJETA ID: <strong>@Model.TarjetaId</strong>
            </li>
            <li>
                Fecha Consulta Balance: <strong>@Model.FechaOperacion</strong>
            </li>
            <li>
                Codigo de Operacion:<strong> @Model.CodigoOperacion</strong>
            </li>
            <li>
                N° de Tarjeta:<strong> @Model.NumeroTarjeta </strong>
            </li>
            <li>
                Fecha de Vencimiento (MM/AAAA):<strong> @Model.FechaVencimientoTarjeta.ToString("MM-yyyy") </strong>
            </li>
            <li>
                Saldo:<strong> $ @Model.Balance</strong>
            </li>
        </ul> <br />
    </div> 

</div>



<a class="btn btn-outline-dark" asp-controller="Operaciones" asp-action="Index">ATRÁS</a>

<a class="btn btn-danger m-5" onclick="">Salir</a>